<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.email %> さん！</p>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
<p>ようこそ！</p>
  <%= link_to "ログイン", new_user_session_path, class: "btn-primary" %>
  <%= link_to "サインアップ", new_user_registration_path, class: "btn-secondary" %>
<% end %>